{% extends 'partials/base.html'%}

{% block content %}
{% load static %}


<div class="login">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">    
                <div class="register-form">
                    <div class="row">
                        {% if form.errors %}
                        <div  class="alert alert-danger">
                            <strong>{{form.errors}}</strong>

                        </div>
                            {% endif  %}
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="col-md-6">
                                <label>Username</label>
                                {% comment %} <input class="form-control" type="text" placeholder="First Name"> {% endcomment %}
                                {{form.username}}
                            </div>
                            {% comment %} <div class="col-md-6">
                                <label>Last Name</label>
                                <input class="form-control" type="text" placeholder="Last Name">
                            </div> {% endcomment %}
                            <div class="col-md-6">
                                <label>E-mail</label>
                                {% comment %} <input class="form-control" type="text" placeholder="E-mail"> {% endcomment %}
                                {{form.email}}
                            </div>
                            {% comment %} <div class="col-md-6">
                                <label>Mobile No</label>
                                <input class="form-control" type="text" placeholder="Mobile No">
                            </div> {% endcomment %}
                            <div class="col-md-6">
                                <label>Password</label>
                                {% comment %} <input class="form-control" type="text" placeholder="Password"> {% endcomment %}
                                {{form.password1}}
                            </div>
                            <div class="col-md-6">
                                <label>Retype Password</label>
                                {% comment %} <input class="form-control" type="text" placeholder="Password"> {% endcomment %}
                                {{form.password2}}
                            </div>
                            <br>
                            <p>Already have an account? <a href="{% url 'userauths:login' %}">Login</a> </p>
                            <div class="col-md-12">
                                <button type="submit" class="btn">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
          </div>
        </div>
    </div>
</div>
{% endblock content %}