{% extends 'partials/base.html'%}

{% block content %}
{% load static %}



        {% comment %} <!-- Reservations Section Start -->
        <section id="reservations">
            <div class="container">
                <header class="section-header">
                    <h3>Reservations</h3>
                </header>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-row">
                            <div class="control-group col-sm-3">
                                <div class="form-group">
                                    <div class="input-group date" id="date" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" placeholder="Date" data-target="#date"/>
                                        <div class="input-group-append" data-target="#date" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group col-sm-3">
                                <div class="form-group">
                                    <div class="input-group date" id="time" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" placeholder="Time" data-target="#time"/>
                                        <div class="input-group-append" data-target="#time" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group col-sm-3">
                                <select class="custom-select">
                                    <option selected>Party Size</option>
                                    <option value="1">1 Person</option>
                                    <option value="2">2 People</option>
                                    <option value="3">3 People</option>
                                    <option value="4">4 People</option>
                                    <option value="5">5 People</option>
                                    <option value="6">6 People</option>
                                    <option value="7">7 People</option>
                                    <option value="8">8 People</option>
                                    <option value="9">9 People</option>
                                    <option value="10">10 People</option>
                                </select>
                            </div>
                            <div class="control-group col-sm-3">
                                <button class="btn btn-block btn-book">Book Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Reservations Section End --> {% endcomment %}

<section id="login">
    {% if form.errors %}
    <div>
        <strong>{{form.errors}}</strong>
    </div>
    {% endif %}
	<div class="container">
		<div class="section-header">
			<h3 class="d-flex">Registration</h3>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="login-col-1">
					<div class="login-form">
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    {{ form.username.label_tag }} {{ form.username }}
                                </div>
                                <div class="form-group col-md-6">
                                    {{ form.email.label_tag }} {{ form.email }}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    {{ form.password1.label_tag }} {{ form.password1 }}
                                </div>
                                <div class="form-group col-md-6">
                                    {{ form.password2.label_tag }} {{ form.password2 }}
                                </div>
                            </div>
                            <div><button type="submit" class="btn btn-primary">Sign Up</button></div>
                            <p>Already have an account? <a href="{% url 'userauths:login' %}">Login</a></p>
                        </form>
					</div>
				</div>
			</div>

			
		</div>
	</div>
</section>

{% endblock content %}