{% extends 'partials/base.html'%}

{% block content %}
{% load static %}


	  <!-- Product Detail Start -->
      <strong class="d-flex">Category List</strong>
	  <div class="product-detail">
		<div class="container-fluid">
			<div class="row">
                {% for c in categories %}
				<div class="col-lg-8">
					<div class="product-detail-top">
						<div class="row align-items-center">
							<div class="col-md-5">
								<div class="product-image">
									<img src="{{ c.image.url }}" alt="Product Image">
								
								</div>
								
							</div>
							
							<div class="col-md-7">
								<div class="product-content">
									<div class="product-title">
                                        <strong><b><a href="{% url 'core:category_menu_list' c.cid %}">{{c.title}}</a></b></strong> 
                                        {% comment %} <div class="ratting">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div> {% endcomment %}
                                    </div>
									
                                    <p>{{c.description}}</p>
						
									<div class="quantity">
										<h4>Quantity Avaialble</h4> <br> 
                                        <p>some text</p>
									</div>
								</div>
							</div>
                            
						</div>
					</div>
					
				</div>
                {% endfor %}
				<!-- Side Bar End -->
			</div>
		</div>
	</div>
	<!-- Product Detail End -->

	 <!-- Brand Start -->
        <div class="brand">
            <div class="container-fluid">
                <div class="brand-slider">
                    <div class="brand-item"><img src="img/brand-1.png" alt=""></div>
                    <div class="brand-item"><img src="img/brand-2.png" alt=""></div>
                    <div class="brand-item"><img src="img/brand-3.png" alt=""></div>
                    <div class="brand-item"><img src="img/brand-4.png" alt=""></div>
                    <div class="brand-item"><img src="img/brand-5.png" alt=""></div>
                    <div class="brand-item"><img src="img/brand-6.png" alt=""></div>
                </div>
            </div>
        </div>
        <!-- Brand End -->

{% endblock content %}